{% load static %}

{% block content %}
    {% include "netbox_proxbox/common.html" %}

    <script>
        function populateDevicesTable(jsonMessage) {
            // Populate Nodes Table with data from Websocket JSON message
            if (!jsonMessage) {
                return
            }
    
            // Get Device Table
            let deviceTable = document.getElementById('device-table-data')
            console.log('Device Table: ', deviceTable)

            let nodesDiv = document.getElementById('nodes-div')
            nodesDiv.style.display = "block"
    
            if (!deviceTable) {
                return
            }
            
            let jsonDataName = undefined

            let nodeTableDefaultTd = document.getElementById('device-table-default-td')
            nodeTableDefaultTd.style.display = "none"
            
            // Create Table Row
            let deviceTableRowID = jsonMessage.data.rowid
            let deviceTableRow = document.getElementById(deviceTableRowID)

            if (!deviceTableRow) {
                deviceTableRow = document.createElement('tr')
                deviceTableRow.id = deviceTableRowID
            }

            else {
                // Clear Table Row
                deviceTableRow.innerHTML = ""
            }


            try {
                jsonDataName = jsonMessage.data.name
            } catch (error) {
                console.log(`ERROR: ${error}`)
            }

            let undefinedHtml = `<span class='badge text-bg-grey'><strong></strong>undefined</strong></span>`

            try {
                // Populate Table Row with Table Data parsed from Websocket JSON message
                deviceTableRow.appendChild(createTdElement(jsonMessage.object, jsonDataName, `status`, undefinedHtml))
                deviceTableRow.appendChild(createTdElement(jsonMessage.object, jsonDataName, `netbox-id`, undefinedHtml))
                deviceTableRow.appendChild(createTdElement(jsonMessage.object, jsonDataName, `node-id`, undefinedHtml))
                deviceTableRow.appendChild(createTdElement(jsonMessage.object, jsonDataName, `name`, jsonMessage.data.name))
                deviceTableRow.appendChild(createTdElement(jsonMessage.object, jsonDataName, `manufacturer`, undefinedHtml))
                deviceTableRow.appendChild(createTdElement(jsonMessage.object, jsonDataName, `type`, undefinedHtml))
                deviceTableRow.appendChild(createTdElement(jsonMessage.object, jsonDataName, `vm-ct-count`, undefinedHtml))
                deviceTableRow.appendChild(createTdElement(jsonMessage.object, jsonDataName, `ip-address`, undefinedHtml))
                deviceTableRow.appendChild(createTdElement(jsonMessage.object, jsonDataName, `role`, undefinedHtml))
                deviceTableRow.appendChild(createTdElement(jsonMessage.object, jsonDataName, `virtual-cpus`, undefinedHtml))
                deviceTableRow.appendChild(createTdElement(jsonMessage.object, jsonDataName, `memory`, undefinedHtml))
                deviceTableRow.appendChild(createTdElement(jsonMessage.object, jsonDataName, `disk-space`, undefinedHtml))
                
                deviceTable.appendChild(deviceTableRow)

            } catch (error) {
                console.log(`ERROR: ${error}`)
            }
        }
    </script>
{% endblock %}