{# Footer links for the core Proxmox2NetBox #}
{# Proxmox2NetBox Custom Links #}
<li class="nav-item dropdown dropup">
    <a type="button" class="nav-link dropdown-toggle text-primary" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        <i title="Proxmox2NetBox Plugin" class="mdi mdi-puzzle" data-bs-placement="top" data-bs-toggle="tooltip"></i>
    </a>
    <ul class="dropdown-menu disabled" aria-labelledby="navbarDropdown">
        <li>
            {# Proxmox2NetBox - Documentation #}
            <a type="button" class="dropdown-item" href="https://github.com/patricklind/Proxmox2Netbox/blob/main/README.md" target="_blank">
                <i title="Proxmox2NetBox | Docs" class="mdi mdi-book-open-variant text-primary" data-bs-placement="top" data-bs-toggle="tooltip"></i>  Docs
            </a>
        <li>
            {# Proxmox2NetBox - GitHub #}
            <a type="button" class="dropdown-item" href="https://github.com/patricklind/Proxmox2Netbox" target="_blank">
                <i title="Proxmox2NetBox | Source Code" class="mdi mdi-github text-primary" data-bs-placement="top" data-bs-toggle="tooltip"></i> GitHub
            </a>
        </li>
        <li>
            {# Proxmox2NetBox - Telegram (Brazil) #}
            <a type="button" class="dropdown-item" href="https://t.me/netboxbr" target="_blank">
                <i title="Proxmox2NetBox | Telegram (Brazil)" class="mdi mdi-telegram text-primary" data-bs-placement="top" data-bs-toggle="tooltip"></i> Telegram (BR)
            </a>
        </li>
        <li>
            <hr class="dropdown-divider">
        </li>
        <li>
            <span class="dropdown-item disabled">Proxmox2NetBox (v0.0.3)</span>
        </li>
    </ul>
</li>
