{% extends 'base/layout.html' %}

{% block content %}
    <div class="row mb-3">
        <div class="col col-md-8">
            <div class="card">
                <h5 class="card-header">Sync VM Backups</h5>
                <div class="card-body">
                    <p>VM backup sync is not yet implemented in out-of-the-box mode.</p>
                    <p>Devices and Virtual Machines sync work directly against Proxmox API.</p>
                </div>
            </div>
        </div>
    </div>

    <br>

    <button class="btn btn-primary" onclick="window.location.href='{% url 'plugins:netbox_proxbox:home' %}'">Return to Proxbox Homepage</button>
{% endblock %}
